/* Règles pour l'impression : masquer tout sauf les tables */
@media print {
    body * {
        visibility: hidden;
    }

    /* Afficher uniquement les tables et leur contenu */
    .table-container, .table-container * {
        visibility: visible;
    }

    .table-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0 !important;
    }

    /* Masquer explicitement les éléments non désirés */
    #loginPage,
    header,
    .tabs,
    .search-bar,
    .btn-secondary,
    .server-status,
    .login-container,
    .login-box,
    .form-group,
    .modal,
    .dropdown-menu,
    .section-header,
    .controls {
        display: none !important;
    }

    /* Optimiser l'affichage des tables */
    table {
        page-break-inside: avoid;
        font-size: 10pt;
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border: 1px solid #ddd !important; /* Bordures légères pour l'impression */
    }

    /* Éviter les sauts de page inutiles */
    tr {
        page-break-inside: avoid;
    }

    th {
        background-color: #a3d1ff !important; /* #d9efff ou #a3d1ff  */
    }

    tr:nth-child(even) {
        background-color: #ffffff !important; /* Blanc pour économiser l'encre */
    }

    tr:nth-child(odd) {
        background-color: #ccffff !important; /* Bleu clair pour l'impression */
        border-bottom: 1px solid #e6f2ff;
    }

}